

a[href="/Albany"]:before,a[href="/Binghamton"]:before,a[href="/BostonU"]:before,a[href="/Hartford"]:before,a[href="/Maine"]:before,a[href="/UMBC"]:before,a[href="/NewHampshire"]:before,a[href="/StonyBrook"]:before,a[href="/Vermont"]:before,a[href="/Butler"]:before,a[href="/Charlotte"]:before,a[href="/Dayton"]:before,a[href="/Duquesne"]:before,a[href="/Fordham"]:before,a[href="/GeorgeWashington"]:before,a[href="/Lasalle"]:before,a[href="/Massachusetts"]:before,a[href="/RhodeIsland"]:before,a[href="/Richmond"]:before,a[href="/StJosephs"]:before,a[href="/SaintLouis"]:before,a[href="/StBonaventure"]:before,a[href="/Temple"]:before,a[href="/VirginiaCommonwealth"]:before,a[href="/Xavier"]:before,a[href="/BostonColl"]:before,a[href="/Clemson"]:before,a[href="/Duke"]:before,a[href="/FloridaSt"]:before,a[href="/GeorgiaTech"]:before,a[href="/Maryland"]:before,a[href="/Miami"]:before,a[href="/NorthCarolinaSt"]:before,a[href="/NorthCarolina"]:before,a[href="/Virginia"]:before,a[href="/VirginiaTech"]:before,a[href="/WakeForest"]:before,a[href="/EasternTennSt"]:before,a[href="/FloridaGulfCoast"]:before,a[href="/Jacksonville"]:before,a[href="/Kennesaw"]:before,a[href="/Lipscomb"]:before,a[href="/Mercer"]:before,a[href="/NorthernKentuckyNorse"]:before,a[href="/NorthFlorida"]:before,a[href="/SouthCarolinaUpstate"]:before,a[href="/Stetson"]:before,a[href="/Baylor"]:before,a[href="/IowaSt"]:before,a[href="/Kansas"]:before,a[href="/KansasSt"]:before,a[href="/Oklahoma"]:before,a[href="/OklahomaSt"]:before,a[href="/TCU"]:before,a[href="/Texas"]:before,a[href="/TexasTech"]:before,a[href="/WestVirginia"]:before,a[href="/Cincinnati"]:before,a[href="/Connecticut"]:before,a[href="/DePaul"]:before,a[href="/Georgetown"]:before,a[href="/Louisville"]:before,a[href="/Marquette"]:before,a[href="/NotreDame"]:before,a[href="/Pittsburgh"]:before,a[href="/Providence"]:before,a[href="/Rutgers"]:before,a[href="/SetonHall"]:before,a[href="/SouthFlorida"]:before,a[href="/StJohns"]:before,a[href="/Syracuse"]:before,a[href="/Villanova"]:before,a[href="/EasternWash"]:before,a[href="/IdahoSt"]:before,a[href="/Montanna"]:before,a[href="/MontanaSt"]:before,a[href="/NorthDakota"]:before,a[href="/NorthernArizona"]:before,a[href="/NorthernColorado"]:before,a[href="/PortlandSt"]:before,a[href="/SacramentoSt"]:before,a[href="/SouthernUtah"]:before,a[href="/WeberSt"]:before,a[href="/Campbell"]:before,a[href="/CharlestonSouth"]:before,a[href="/CoastalCarolina"]:before,a[href="/Gardner"]:before,a[href="/HighPoint"]:before,a[href="/Liberty"]:before,a[href="/Longwood"]:before,a[href="/Presbyterian"]:before,a[href="/Radford"]:before,a[href="/NCAsherville"]:before,a[href="/VirginiaMilitary"]:before,a[href="/Winthrop"]:before,a[href="/Illinois"]:before,a[href="/Indiana"]:before,a[href="/Iowa"]:before,a[href="/MichiganSt"]:before,a[href="/Michigan"]:before,a[href="/Minnesota"]:before,a[href="/Nebraska"]:before,a[href="/Northwestern"]:before,a[href="/OhioSt"]:before,a[href="/PennSt"]:before,a[href="/Purdue"]:before,a[href="/Wisconsin"]:before,a[href="/CaliforniaRiverside"]:before,a[href="/CalPoly"]:before,a[href="/CSUFullerton"]:before,a[href="/CSUNorthridge"]:before,a[href="/Hawaii"]:before,a[href="/LongBeachSt"]:before,a[href="/Pacific"]:before,a[href="/UCDavis"]:before,a[href="/UCIrvine"]:before,a[href="/UCSB"]:before,a[href="/Delaware"]:before,a[href="/Drexel"]:before,a[href="/GeorgeMason"]:before,a[href="/GeorgiaSt"]:before,a[href="/Hofstra"]:before,a[href="/JamesMadison"]:before,a[href="/NCWilmington"]:before,a[href="/Northeastern"]:before,a[href="/OldDominion"]:before,a[href="/Towson"]:before,a[href="/WilliamMary"]:before,a[href="/EastCarolina"]:before,a[href="/Houston"]:before,a[href="/Marshall"]:before,a[href="/Memphis"]:before,a[href="/Rice"]:before,a[href="/SouthernMethodist"]:before,a[href="/SouthernMiss"]:before,a[href="/Tulane"]:before,a[href="/Tulsa"]:before,a[href="/UAB"]:before,a[href="/UCF"]:before,a[href="/UTEP"]:before,a[href="/ChicagoSt"]:before,a[href="/HoustonBaptist"]:before,a[href="/NJIT"]:before,a[href="/TexasPanAmerican"]:before,a[href="/UtahValleyU"]:before,a[href="/ClevelandSt"]:before,a[href="/Detroit"]:before,a[href="/GreenBay"]:before,a[href="/LoyolaChicago"]:before,a[href="/WisMilwaukee"]:before,a[href="/IllinoisChicago"]:before,a[href="/Valparaiso"]:before,a[href="/WrightSt"]:before,a[href="/YoungstownSt"]:before,a[href="/CSUBakersfield"]:before,a[href="/NewOrleans"]:before,a[href="/Brown"]:before,a[href="/Columbia"]:before,a[href="/Cornell"]:before,a[href="/Dartmouth"]:before,a[href="/Harvard"]:before,a[href="/Pennsylvania"]:before,a[href="/Princeton"]:before,a[href="/Yale"]:before,a[href="/Canisius"]:before,a[href="/Fairfield"]:before,a[href="/Iona"]:before,a[href="/LoyolaMD"]:before,a[href="/Manhattan"]:before,a[href="/Marist"]:before,a[href="/Niagara"]:before,a[href="/Rider"]:before,a[href="/StPeters"]:before,a[href="/Siena"]:before,a[href="/Akron"]:before,a[href="/BallSt"]:before,a[href="/BowlingGreen"]:before,a[href="/Buffalo"]:before,a[href="/CentralMichigan"]:before,a[href="/EasternMichigan"]:before,a[href="/KentSt"]:before,a[href="/MiamiOH"]:before,a[href="/NorthernIllinois"]:before,a[href="/Ohio"]:before,a[href="/Toledo"]:before,a[href="/WMichigan"]:before,a[href="/BethuneCookman"]:before,a[href="/CoppinSt"]:before,a[href="/DelawareSt"]:before,a[href="/FloridaAM"]:before,a[href="/Hampton"]:before,a[href="/Howard"]:before,a[href="/MDEasternShore"]:before,a[href="/MorganSt"]:before,a[href="/NorfolkSt"]:before,a[href="/NCAT"]:before,a[href="/NorthCarolinaCentral"]:before,a[href="/SavannahSt"]:before,a[href="/SouthCarolinaSt"]:before,a[href="/Bradley"]:before,a[href="/Creighton"]:before,a[href="/Drake"]:before,a[href="/Evansville"]:before,a[href="/IllinoisSt"]:before,a[href="/IndianaSt"]:before,a[href="/MissouriSt"]:before,a[href="/NorthernIowa"]:before,a[href="/SouthernIllinois"]:before,a[href="/WichitaState"]:before,a[href="/AirForce"]:before,a[href="/BoiseSt"]:before,a[href="/ColoradoSt"]:before,a[href="/FresnoSt"]:before,a[href="/Nevada"]:before,a[href="/NewMexico"]:before,a[href="/SanDiegoSt"]:before,a[href="/UNLV"]:before,a[href="/Wyoming"]:before,a[href="/Bryant"]:before,a[href="/CentralConnSt"]:before,a[href="/FairDickinson"]:before,a[href="/LongIslandU"]:before,a[href="/Monmouth"]:before,a[href="/MountStMarys"]:before,a[href="/Quinnipiac"]:before,a[href="/RobertMorris"]:before,a[href="/SacredHeart"]:before,a[href="/StFrancisNY"]:before,a[href="/StFrancisPA"]:before,a[href="/Wagner"]:before,a[href="/AustinPeay"]:before,a[href="/Belmont"]:before,a[href="/EasternIllinois"]:before,a[href="/EasternKentucky"]:before,a[href="/JacksonvilleSt"]:before,a[href="/MoreheadSt"]:before,a[href="/MurraySt"]:before,a[href="/SIUEdwardsville"]:before,a[href="/SEMissouriSt"]:before,a[href="/TennesseeMartin"]:before,a[href="/TennesseeSt"]:before,a[href="/TensesseeTech"]:before,a[href="/ArizonaSt"]:before,a[href="/Arizona"]:before,a[href="/Cal"]:before,a[href="/Colorado"]:before,a[href="/Oregon"]:before,a[href="/OregonSt"]:before,a[href="/Stanford"]:before,a[href="/UCLA"]:before,a[href="/USC"]:before,a[href="/Utah"]:before,a[href="/Washington"]:before,a[href="/WashingtonSt"]:before,a[href="/American"]:before,a[href="/Army"]:before,a[href="/Bucknell"]:before,a[href="/Colgate"]:before,a[href="/HolyCross"]:before,a[href="/Lafayette"]:before,a[href="/Lehigh"]:before,a[href="/Navy"]:before,a[href="/AlabamaAM"]:before,a[href="/Arkansas"]:before,a[href="/Auburn"]:before,a[href="/Florida"]:before,a[href="/Georgia"]:before,a[href="/Kentucky"]:before,a[href="/LSU"]:before,a[href="/Mississippi"]:before,a[href="/MississippiSt"]:before,a[href="/Missouri"]:before,a[href="/SouthCarolina"]:before,a[href="/Tennessee"]:before,a[href="/TexasAM"]:before,a[href="/Vanderbilt"]:before,a[href="/AppalachianSt"]:before,a[href="/Chareleston"]:before,a[href="/Chattanooga"]:before,a[href="/Citadel"]:before,a[href="/Davidson"]:before,a[href="/Elon"]:before,a[href="/Furman"]:before,a[href="/GeorgiaSouthern"]:before,a[href="/NCGreensboro"]:before,a[href="/Samford"]:before,a[href="/WesternCarolina"]:before,a[href="/Wofford"]:before,a[href="/CentralArkansas"]:before,a[href="/Lamar"]:before,a[href="/McNeeseSt"]:before,a[href="/NichollsSt"]:before,a[href="/NorthwesternSt"]:before,a[href="/OralRoberts"]:before,a[href="/SamHoustonSt"]:before,a[href="/SELouisiana"]:before,a[href="/StephenFAustin"]:before,a[href="/TAMUCorpusChristi"]:before,a[href="/Alabama"]:before,a[href="/AlabamaSt"]:before,a[href="/AlcornSt"]:before,a[href="/ARPineBluff"]:before,a[href="/GramblingSt"]:before,a[href="/JacksonSt"]:before,a[href="/MissValleySt"]:before,a[href="/PrairieViewAM"]:before,a[href="/Southern"]:before,a[href="/TexasSouthern"]:before,a[href="/IPFW"]:before,a[href="/IUPUI"]:before,a[href="/NebraskaOmaha"]:before,a[href="/NorthDakotaSt"]:before,a[href="/Oakland"]:before,a[href="/SouthDakota"]:before,a[href="/SouthDakotaSt"]:before,a[href="/UMKC"]:before,a[href="/WesternIllinois"]:before,a[href="/ARLittleRock"]:before,a[href="/ArkansasSt"]:before,a[href="/FloridaIntl"]:before,a[href="/FloridaAtlantic"]:before,a[href="/LALafayette"]:before,a[href="/LAMonroe"]:before,a[href="/MiddleTennessee"]:before,a[href="/NorthTexas"]:before,a[href="/SouthAlabama"]:before,a[href="/Troy"]:before,a[href="/WKU"]:before,a[href="/BrighamYoung"]:before,a[href="/Gonzaga"]:before,a[href="/LoyolaMarymount"]:before,a[href="/Pepperdine"]:before,a[href="/Portland"]:before,a[href="/StMarys"]:before,a[href="/SanDiego"]:before,a[href="/SanFrancisco"]:before,a[href="/SantaClara"]:before,a[href="/Denver"]:before,a[href="/Idaho"]:before,a[href="/LouisianaTech"]:before,a[href="/NewMexicoSt"]:before,a[href="/SanJoseSt"]:before,a[href="/Seattle"]:before,a[href="/TXArlington"]:before,a[href="/TexasSt"]:before,a[href="/UtahSt"]:before,a[href="/UTSA"]:before,a[href="/GrandCanyon"]:before,a[href="/Abilene"]:before,a[href="/UMassLowell"]:before,a[href="/IncarnateWord"]:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 0;
    vertical-align: middle;
    background-image: url("//b.thumbs.redditmedia.com/EQgZESjdD_C2MW_m0SQ3IGn3XJrRaKmfH51FSXjQrqQ.png");
    background-position: -9999px -9999px;
    background-repeat: no-repeat
}

.sidecontentbox .flair {
    display: none!important
}

.link .flair {
    display: none!important
}

.collapsed .flair {
    opacity: 0.4
}

.flair:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 0;
    vertical-align: middle;
    background-image: url("//b.thumbs.redditmedia.com/EQgZESjdD_C2MW_m0SQ3IGn3XJrRaKmfH51FSXjQrqQ.png");
    background-position: -9999px -9999px;
    background-repeat: no-repeat
}



.flair {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    padding: 0;
    border: 1px solid #fdfefd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    font-size: inherit;
    line-height: 18px;
    vertical-align: middle;
    color: black;
    background-color: transparent
}



a[href="/GeorgeWashington"]:before,.flair-GeorgeWashington:before {
    background-position: -0px 0;
    opacity: 1.0
}

a[href="/Miami"]:before,.flair-Miami:before {
    background-position: -45px 0;
    opacity: 1.0
}

a[href="/AlcornSt"]:before,.flair-AlcornSt:before {
    background-position: -90px 0;
    opacity: 1.0
}

a[href="/Villanova"]:before,.flair-Villanova:before {
    background-position: -135px 0;
    opacity: 1.0
}

a[href="/GreenBay"]:before,.flair-GreenBay:before {
    background-position: -180px 0;
    opacity: 1.0
}

a[href="/HighPoint"]:before,.flair-HighPoint:before {
    background-position: -225px 0;
    opacity: 1.0
}

a[href="/Mercer"]:before,.flair-Mercer:before {
    background-position: -270px 0;
    opacity: 1.0
}

a[href="/Vermont"]:before,.flair-Vermont:before {
    background-position: -315px 0;
    opacity: 1.0
}

a[href="/UtahSt"]:before,.flair-UtahSt:before {
    background-position: -360px 0;
    opacity: 1.0
}

a[href="/Massachusetts"]:before,.flair-Massachusetts:before {
    background-position: -405px 0;
    opacity: 1.0
}

a[href="/FloridaSt"]:before,.flair-FloridaSt:before {
    background-position: -450px 0;
    opacity: 1.0
}

a[href="/UCDavis"]:before,.flair-UCDavis:before {
    background-position: -495px 0;
    opacity: 1.0
}

a[href="/Brown"]:before,.flair-Brown:before {
    background-position: -540px 0;
    opacity: 1.0
}

a[href="/Tulsa"]:before,.flair-Tulsa:before {
    background-position: -585px 0;
    opacity: 1.0
}

a[href="/SIUEdwardsville"]:before,.flair-SIUEdwardsville:before {
    background-position: -630px 0;
    opacity: 1.0
}

a[href="/Drexel"]:before,.flair-Drexel:before {
    background-position: -675px 0;
    opacity: 1.0
}

a[href="/DePaul"]:before,.flair-DePaul:before {
    background-position: -720px 0;
    opacity: 1.0
}

a[href="/Alabama"]:before,.flair-Alabama:before {
    background-position: -765px 0;
    opacity: 1.0
}

a[href="/Bryant"]:before,.flair-Bryant:before {
    background-position: -810px 0;
    opacity: 1.0
}

a[href="/LALafayette"]:before,.flair-LALafayette:before {
    background-position: -855px 0;
    opacity: 1.0
}

a[href="/Hawaii"]:before,.flair-Hawaii:before {
    background-position: -900px 0;
    opacity: 1.0
}

a[href="/Temple"]:before,.flair-Temple:before {
    background-position: -945px 0;
    opacity: 1.0
}

a[href="/Yale"]:before,.flair-Yale:before {
    background-position: -990px 0;
    opacity: 1.0
}

a[href="/KansasSt"]:before,.flair-KansasSt:before {
    background-position: -1035px 0;
    opacity: 1.0
}

a[href="/CentralArkansas"]:before,.flair-CentralArkansas:before {
    background-position: -1080px 0;
    opacity: 1.0
}

a[href="/Virginia"]:before,.flair-Virginia:before {
    background-position: -1125px 0;
    opacity: 1.0
}

a[href="/NorthCarolinaCentral"]:before,.flair-NorthCarolinaCentral:before {
    background-position: -1170px 0;
    opacity: 1.0
}

a[href="/OldDominion"]:before,.flair-OldDominion:before {
    background-position: -1215px 0;
    opacity: 1.0
}

a[href="/Texas"]:before,.flair-Texas:before {
    background-position: -1260px 0;
    opacity: 1.0
}

a[href="/Lehigh"]:before,.flair-Lehigh:before {
    background-position: -1305px 0;
    opacity: 1.0
}

a[href="/BowlingGreen"]:before,.flair-BowlingGreen:before {
    background-position: -1350px 0;
    opacity: 1.0
}

a[href="/BostonColl"]:before,.flair-BostonColl:before {
    background-position: -1395px 0;
    opacity: 1.0
}

a[href="/Nebraska"]:before,.flair-Nebraska:before {
    background-position: -1440px 0;
    opacity: 1.0
}

a[href="/Canisius"]:before,.flair-Canisius:before {
    background-position: -1485px 0;
    opacity: 1.0
}

a[href="/MorganSt"]:before,.flair-MorganSt:before {
    background-position: -1530px 0;
    opacity: 1.0
}

a[href="/Memphis"]:before,.flair-Memphis:before {
    background-position: -1575px 0;
    opacity: 1.0
}

a[href="/NorthernArizona"]:before,.flair-NorthernArizona:before {
    background-position: -1620px 0;
    opacity: 1.0
}

a[href="/Gardner"]:before,.flair-Gardner:before {
    background-position: -1665px 0;
    opacity: 1.0
}

a[href="/IUPUI"]:before,.flair-IUPUI:before {
    background-position: -1710px 0;
    opacity: 1.0
}

a[href="/Bucknell"]:before,.flair-Bucknell:before {
    background-position: -1755px 0;
    opacity: 1.0
}

a[href="/WKU"]:before,.flair-WKU:before {
    background-position: -1800px 0;
    opacity: 1.0
}

a[href="/NorthwesternSt"]:before,.flair-NorthwesternSt:before {
    background-position: -1845px 0;
    opacity: 1.0
}

a[href="/WilliamMary"]:before,.flair-WilliamMary:before {
    background-position: -1890px 0;
    opacity: 1.0
}

a[href="/SamHoustonSt"]:before,.flair-SamHoustonSt:before {
    background-position: -1935px 0;
    opacity: 1.0
}

a[href="/Georgetown"]:before,.flair-Georgetown:before {
    background-position: -1980px 0;
    opacity: 1.0
}

a[href="/Winthrop"]:before,.flair-Winthrop:before {
    background-position: -2025px 0;
    opacity: 1.0
}

a[href="/AppalachianSt"]:before,.flair-AppalachianSt:before {
    background-position: -2070px 0;
    opacity: 1.0
}

a[href="/Seattle"]:before,.flair-Seattle:before {
    background-position: -2115px 0;
    opacity: 1.0
}

a[href="/USC"]:before,.flair-USC:before {
    background-position: -2160px 0;
    opacity: 1.0
}

a[href="/SouthAlabama"]:before,.flair-SouthAlabama:before {
    background-position: -2205px 0;
    opacity: 1.0
}

a[href="/Army"]:before,.flair-Army:before {
    background-position: -2250px 0;
    opacity: 1.0
}

a[href="/MichiganSt"]:before,.flair-MichiganSt:before {
    background-position: -2295px 0;
    opacity: 1.0
}

a[href="/RobertMorris"]:before,.flair-RobertMorris:before {
    background-position: -2340px 0;
    opacity: 1.0
}

a[href="/MountStMarys"]:before,.flair-MountStMarys:before {
    background-position: -2385px 0;
    opacity: 1.0
}

a[href="/Butler"]:before,.flair-Butler:before {
    background-position: -2430px 0;
    opacity: 1.0
}

a[href="/SouthernMiss"]:before,.flair-SouthernMiss:before {
    background-position: -2475px 0;
    opacity: 1.0
}

a[href="/Valparaiso"]:before,.flair-Valparaiso:before {
    background-position: -2520px 0;
    opacity: 1.0
}

a[href="/Oregon"]:before,.flair-Oregon:before {
    background-position: -2565px 0;
    opacity: 1.0
}

a[href="/JamesMadison"]:before,.flair-JamesMadison:before {
    background-position: -2610px 0;
    opacity: 1.0
}

a[href="/Maryland"]:before,.flair-Maryland:before {
    background-position: -2655px 0;
    opacity: 1.0
}

a[href="/FloridaAM"]:before,.flair-FloridaAM:before {
    background-position: -2700px 0;
    opacity: 1.0
}

a[href="/Detroit"]:before,.flair-Detroit:before {
    background-position: -2745px 0;
    opacity: 1.0
}

a[href="/TexasSt"]:before,.flair-TexasSt:before {
    background-position: -2790px 0;
    opacity: 1.0
}

a[href="/OklahomaSt"]:before,.flair-OklahomaSt:before {
    background-position: -2835px 0;
    opacity: 1.0
}

a[href="/Delaware"]:before,.flair-Delaware:before {
    background-position: -2880px 0;
    opacity: 1.0
}

a[href="/SouthernUtah"]:before,.flair-SouthernUtah:before {
    background-position: -2925px 0;
    opacity: 1.0
}

a[href="/TexasSouthern"]:before,.flair-TexasSouthern:before {
    background-position: -2970px 0;
    opacity: 1.0
}

a[href="/Cal"]:before,.flair-Cal:before {
    background-position: -3015px 0;
    opacity: 1.0
}

a[href="/Florida"]:before,.flair-Florida:before {
    background-position: -3060px 0;
    opacity: 1.0
}

a[href="/UMBC"]:before,.flair-UMBC:before {
    background-position: -3105px 0;
    opacity: 1.0
}

a[href="/GrandCanyon"]:before,.flair-GrandCanyon:before {
    background-position: -3150px 0;
    opacity: 1.0
}

a[href="/ChicagoSt"]:before,.flair-ChicagoSt:before {
    background-position: -3195px 0;
    opacity: 1.0
}

a[href="/ArizonaSt"]:before,.flair-ArizonaSt:before {
    background-position: -3240px 0;
    opacity: 1.0
}

a[href="/Iona"]:before,.flair-Iona:before {
    background-position: -3285px 0;
    opacity: 1.0
}

a[href="/MissValleySt"]:before,.flair-MissValleySt:before {
    background-position: -3330px 0;
    opacity: 1.0
}

a[href="/UAB"]:before,.flair-UAB:before {
    background-position: -3375px 0;
    opacity: 1.0
}

a[href="/Hofstra"]:before,.flair-Hofstra:before {
    background-position: -3420px 0;
    opacity: 1.0
}

a[href="/NewMexicoSt"]:before,.flair-NewMexicoSt:before {
    background-position: -3465px 0;
    opacity: 1.0
}

a[href="/SouthernIllinois"]:before,.flair-SouthernIllinois:before {
    background-position: -3510px 0;
    opacity: 1.0
}

a[href="/CSUFullerton"]:before,.flair-CSUFullerton:before {
    background-position: -3555px 0;
    opacity: 1.0
}

a[href="/Houston"]:before,.flair-Houston:before {
    background-position: -3600px 0;
    opacity: 1.0
}

a[href="/EasternKentucky"]:before,.flair-EasternKentucky:before {
    background-position: -3645px 0;
    opacity: 1.0
}

a[href="/Idaho"]:before,.flair-Idaho:before {
    background-position: -3690px 0;
    opacity: 1.0
}

a[href="/OregonSt"]:before,.flair-OregonSt:before {
    background-position: -3735px 0;
    opacity: 1.0
}

a[href="/GeorgiaSouthern"]:before,.flair-GeorgiaSouthern:before {
    background-position: -3780px 0;
    opacity: 1.0
}

a[href="/Lafayette"]:before,.flair-Lafayette:before {
    background-position: -3825px 0;
    opacity: 1.0
}

a[href="/SanJoseSt"]:before,.flair-SanJoseSt:before {
    background-position: -3870px 0;
    opacity: 1.0
}

a[href="/LouisianaTech"]:before,.flair-LouisianaTech:before {
    background-position: -3915px 0;
    opacity: 1.0
}

a[href="/IndianaSt"]:before,.flair-IndianaSt:before {
    background-position: -3960px 0;
    opacity: 1.0
}

a[href="/GeorgiaSt"]:before,.flair-GeorgiaSt:before {
    background-position: -4005px 0;
    opacity: 1.0
}

a[href="/Tulane"]:before,.flair-Tulane:before {
    background-position: -4050px 0;
    opacity: 1.0
}

a[href="/SouthCarolinaSt"]:before,.flair-SouthCarolinaSt:before {
    background-position: -4095px 0;
    opacity: 1.0
}

a[href="/IllinoisSt"]:before,.flair-IllinoisSt:before {
    background-position: -4140px 0;
    opacity: 1.0
}

a[href="/Binghamton"]:before,.flair-Binghamton:before {
    background-position: -4185px 0;
    opacity: 1.0
}

a[href="/AustinPeay"]:before,.flair-AustinPeay:before {
    background-position: -4230px 0;
    opacity: 1.0
}

a[href="/SouthCarolina"]:before,.flair-SouthCarolina:before {
    background-position: -4275px 0;
    opacity: 1.0
}

a[href="/ARPineBluff"]:before,.flair-ARPineBluff:before {
    background-position: -4320px 0;
    opacity: 1.0
}

a[href="/SanDiego"]:before,.flair-SanDiego:before {
    background-position: -4365px 0;
    opacity: 1.0
}

a[href="/MississippiSt"]:before,.flair-MississippiSt:before {
    background-position: -4410px 0;
    opacity: 1.0
}

a[href="/SetonHall"]:before,.flair-SetonHall:before {
    background-position: -4455px 0;
    opacity: 1.0
}

a[href="/UtahValleyU"]:before,.flair-UtahValleyU:before {
    background-position: -4500px 0;
    opacity: 1.0
}

a[href="/MurraySt"]:before,.flair-MurraySt:before {
    background-position: -4545px 0;
    opacity: 1.0
}

a[href="/Auburn"]:before,.flair-Auburn:before {
    background-position: -4590px 0;
    opacity: 1.0
}

a[href="/Colorado"]:before,.flair-Colorado:before {
    background-position: -4635px 0;
    opacity: 1.0
}

a[href="/LSU"]:before,.flair-LSU:before {
    background-position: -4680px 0;
    opacity: 1.0
}

a[href="/Longwood"]:before,.flair-Longwood:before {
    background-position: -4725px 0;
    opacity: 1.0
}

a[href="/Colgate"]:before,.flair-Colgate:before {
    background-position: -4770px 0;
    opacity: 1.0
}

a[href="/IdahoSt"]:before,.flair-IdahoSt:before {
    background-position: -4815px 0;
    opacity: 1.0
}

a[href="/FloridaIntl"]:before,.flair-FloridaIntl:before {
    background-position: -4860px 0;
    opacity: 1.0
}

a[href="/BrighamYoung"]:before,.flair-BrighamYoung:before {
    background-position: -4905px 0;
    opacity: 1.0
}

a[href="/Denver"]:before,.flair-Denver:before {
    background-position: -4950px 0;
    opacity: 1.0
}

a[href="/Marshall"]:before,.flair-Marshall:before {
    background-position: -4995px 0;
    opacity: 1.0
}

a[href="/NorthernKentuckyNorse"]:before,.flair-NorthernKentuckyNorse:before {
    background-position: -5040px 0;
    opacity: 1.0
}

a[href="/ARLittleRock"]:before,.flair-ARLittleRock:before {
    background-position: -5085px 0;
    opacity: 1.0
}

a[href="/Iowa"]:before,.flair-Iowa:before {
    background-position: -5130px 0;
    opacity: 1.0
}

a[href="/Davidson"]:before,.flair-Davidson:before {
    background-position: -5175px 0;
    opacity: 1.0
}

a[href="/Furman"]:before,.flair-Furman:before {
    background-position: -5220px 0;
    opacity: 1.0
}

a[href="/ColoradoSt"]:before,.flair-ColoradoSt:before {
    background-position: -5265px 0;
    opacity: 1.0
}

a[href="/Akron"]:before,.flair-Akron:before {
    background-position: -5310px 0;
    opacity: 1.0
}

a[href="/NorfolkSt"]:before,.flair-NorfolkSt:before {
    background-position: -5355px 0;
    opacity: 1.0
}

a[href="/CentralConnSt"]:before,.flair-CentralConnSt:before {
    background-position: -5400px 0;
    opacity: 1.0
}

a[href="/Purdue"]:before,.flair-Purdue:before {
    background-position: -5445px 0;
    opacity: 1.0
}

a[href="/Drake"]:before,.flair-Drake:before {
    background-position: -5490px 0;
    opacity: 1.0
}

a[href="/Baylor"]:before,.flair-Baylor:before {
    background-position: -5535px 0;
    opacity: 1.0
}

a[href="/BallSt"]:before,.flair-BallSt:before {
    background-position: -5580px 0;
    opacity: 1.0
}

a[href="/NebraskaOmaha"]:before,.flair-NebraskaOmaha:before {
    background-position: -5625px 0;
    opacity: 1.0
}

a[href="/IowaSt"]:before,.flair-IowaSt:before {
    background-position: -5670px 0;
    opacity: 1.0
}

a[href="/ClevelandSt"]:before,.flair-ClevelandSt:before {
    background-position: -5715px 0;
    opacity: 1.0
}

a[href="/Navy"]:before,.flair-Navy:before {
    background-position: -5760px 0;
    opacity: 1.0
}

a[href="/Harvard"]:before,.flair-Harvard:before {
    background-position: -5805px 0;
    opacity: 1.0
}

a[href="/Hartford"]:before,.flair-Hartford:before {
    background-position: -5850px 0;
    opacity: 1.0
}

a[href="/IPFW"]:before,.flair-IPFW:before {
    background-position: -5895px 0;
    opacity: 1.0
}

a[href="/LAMonroe"]:before,.flair-LAMonroe:before {
    background-position: -5940px 0;
    opacity: 1.0
}

a[href="/SouthernMethodist"]:before,.flair-SouthernMethodist:before {
    background-position: -5985px 0;
    opacity: 1.0
}

a[href="/VirginiaCommonwealth"]:before,.flair-VirginiaCommonwealth:before {
    background-position: -6030px 0;
    opacity: 1.0
}

a[href="/Siena"]:before,.flair-Siena:before {
    background-position: -6075px 0;
    opacity: 1.0
}

a[href="/WichitaState"]:before,.flair-WichitaState:before {
    background-position: -6120px 0;
    opacity: 1.0
}

a[href="/UCIrvine"]:before,.flair-UCIrvine:before {
    background-position: -6165px 0;
    opacity: 1.0
}

a[href="/MissouriSt"]:before,.flair-MissouriSt:before {
    background-position: -6210px 0;
    opacity: 1.0
}

a[href="/TensesseeTech"]:before,.flair-TensesseeTech:before {
    background-position: -6255px 0;
    opacity: 1.0
}

a[href="/EastCarolina"]:before,.flair-EastCarolina:before {
    background-position: -6300px 0;
    opacity: 1.0
}

a[href="/Charleston"]:before,.flair-Charleston:before {
    background-position: -6345px 0;
    opacity: 1.0
}

a[href="/FresnoSt"]:before,.flair-FresnoSt:before {
    background-position: -6390px 0;
    opacity: 1.0
}

a[href="/DelawareSt"]:before,.flair-DelawareSt:before {
    background-position: -6435px 0;
    opacity: 1.0
}

a[href="/Oklahoma"]:before,.flair-Oklahoma:before {
    background-position: -6480px 0;
    opacity: 1.0
}

a[href="/SacredHeart"]:before,.flair-SacredHeart:before {
    background-position: -6525px 0;
    opacity: 1.0
}

a[href="/HoustonBaptist"]:before,.flair-HoustonBaptist:before {
    background-position: -6570px 0;
    opacity: 1.0
}

a[href="/LoyolaMarymount"]:before,.flair-LoyolaMarymount:before {
    background-position: -6615px 0;
    opacity: 1.0
}

a[href="/CentralMichigan"]:before,.flair-CentralMichigan:before {
    background-position: -6660px 0;
    opacity: 1.0
}

a[href="/Mississippi"]:before,.flair-Mississippi:before {
    background-position: -6705px 0;
    opacity: 1.0
}

a[href="/OralRoberts"]:before,.flair-OralRoberts:before {
    background-position: -6750px 0;
    opacity: 1.0
}

a[href="/NCGreensboro"]:before,.flair-NCGreensboro:before {
    background-position: -6795px 0;
    opacity: 1.0
}

a[href="/CoastalCarolina"]:before,.flair-CoastalCarolina:before {
    background-position: -6840px 0;
    opacity: 1.0
}

a[href="/SouthFlorida"]:before,.flair-SouthFlorida:before {
    background-position: -6885px 0;
    opacity: 1.0
}

a[href="/WisMilwaukee"]:before,.flair-WisMilwaukee:before {
    background-position: -6930px 0;
    opacity: 1.0
}

a[href="/Connecticut"]:before,.flair-Connecticut:before {
    background-position: -6975px 0;
    opacity: 1.0
}

a[href="/Kentucky"]:before,.flair-Kentucky:before {
    background-position: -7020px 0;
    opacity: 1.0
}

a[href="/SaintLouis"]:before,.flair-SaintLouis:before {
    background-position: -7065px 0;
    opacity: 1.0
}

a[href="/CaliforniaRiverside"]:before,.flair-CaliforniaRiverside:before {
    background-position: -7110px 0;
    opacity: 1.0
}

a[href="/Radford"]:before,.flair-Radford:before {
    background-position: -7155px 0;
    opacity: 1.0
}

a[href="/Samford"]:before,.flair-Samford:before {
    background-position: -7200px 0;
    opacity: 1.0
}

a[href="/SacramentoSt"]:before,.flair-SacramentoSt:before {
    background-position: -7245px 0;
    opacity: 1.0
}

a[href="/CSUNorthridge"]:before,.flair-CSUNorthridge:before {
    background-position: -7290px 0;
    opacity: 1.0
}

a[href="/WesternCarolina"]:before,.flair-WesternCarolina:before {
    background-position: -7335px 0;
    opacity: 1.0
}

a[href="/Liberty"]:before,.flair-Liberty:before {
    background-position: -7380px 0;
    opacity: 1.0
}

a[href="/NorthCarolinaSt"]:before,.flair-NorthCarolinaSt:before {
    background-position: -7425px 0;
    opacity: 1.0
}

a[href="/AlabamaSt"]:before,.flair-AlabamaSt:before {
    background-position: -7470px 0;
    opacity: 1.0
}

a[href="/SELouisiana"]:before,.flair-SELouisiana:before {
    background-position: -7515px 0;
    opacity: 1.0
}

a[href="/LongIslandU"]:before,.flair-LongIslandU:before {
    background-position: -7560px 0;
    opacity: 1.0
}

a[href="/Rider"]:before,.flair-Rider:before {
    background-position: -7605px 0;
    opacity: 1.0
}

a[href="/Buffalo"]:before,.flair-Buffalo:before {
    background-position: -7650px 0;
    opacity: 1.0
}

a[href="/Dayton"]:before,.flair-Dayton:before {
    background-position: -7695px 0;
    opacity: 1.0
}

a[href="/Abilene"]:before,.flair-Abilene:before {
    background-position: -7740px 0;
    opacity: 1.0
}

a[href="/AlabamaAM"]:before,.flair-AlabamaAM:before {
    background-position: -7785px 0;
    opacity: 1.0
}

a[href="/HolyCross"]:before,.flair-HolyCross:before {
    background-position: -7830px 0;
    opacity: 1.0
}

a[href="/StephenFAustin"]:before,.flair-StephenFAustin:before {
    background-position: -7875px 0;
    opacity: 1.0
}

a[href="/Campbell"]:before,.flair-Campbell:before {
    background-position: -7920px 0;
    opacity: 1.0
}

a[href="/RhodeIsland"]:before,.flair-RhodeIsland:before {
    background-position: -7965px 0;
    opacity: 1.0
}

a[href="/Xavier"]:before,.flair-Xavier:before {
    background-position: -8010px 0;
    opacity: 1.0
}

a[href="/BethuneCookman"]:before,.flair-BethuneCookman:before {
    background-position: -8055px 0;
    opacity: 1.0
}

a[href="/WashingtonSt"]:before,.flair-WashingtonSt:before {
    background-position: -8100px 0;
    opacity: 1.0
}

a[href="/Georgia"]:before,.flair-Georgia:before {
    background-position: -8145px 0;
    opacity: 1.0
}

a[href="/WMichigan"]:before,.flair-WMichigan:before {
    background-position: -8190px 0;
    opacity: 1.0
}

a[href="/Troy"]:before,.flair-Troy:before {
    background-position: -8235px 0;
    opacity: 1.0
}

a[href="/JacksonSt"]:before,.flair-JacksonSt:before {
    background-position: -8280px 0;
    opacity: 1.0
}

a[href="/Nevada"]:before,.flair-Nevada:before {
    background-position: -8325px 0;
    opacity: 1.0
}

a[href="/Maine"]:before,.flair-Maine:before {
    background-position: -8370px 0;
    opacity: 1.0
}

a[href="/McNeeseSt"]:before,.flair-McNeeseSt:before {
    background-position: -8415px 0;
    opacity: 1.0
}

a[href="/VirginiaMilitary"]:before,.flair-VirginiaMilitary:before {
    background-position: -8460px 0;
    opacity: 1.0
}

a[href="/TexasTech"]:before,.flair-TexasTech:before {
    background-position: -8505px 0;
    opacity: 1.0
}

a[href="/EasternTennSt"]:before,.flair-EasternTennSt:before {
    background-position: -8550px 0;
    opacity: 1.0
}

a[href="/Richmond"]:before,.flair-Richmond:before {
    background-position: -8595px 0;
    opacity: 1.0
}

a[href="/NorthernIowa"]:before,.flair-NorthernIowa:before {
    background-position: -8640px 0;
    opacity: 1.0
}

a[href="/Rice"]:before,.flair-Rice:before {
    background-position: -8685px 0;
    opacity: 1.0
}

a[href="/Jacksonville"]:before,.flair-Jacksonville:before {
    background-position: -8730px 0;
    opacity: 1.0
}

a[href="/VirginiaTech"]:before,.flair-VirginiaTech:before {
    background-position: -8775px 0;
    opacity: 1.0
}

a[href="/MiddleTennessee"]:before,.flair-MiddleTennessee:before {
    background-position: -8820px 0;
    opacity: 1.0
}

a[href="/EasternMichigan"]:before,.flair-EasternMichigan:before {
    background-position: -8865px 0;
    opacity: 1.0
}

a[href="/GramblingSt"]:before,.flair-GramblingSt:before {
    background-position: -8910px 0;
    opacity: 1.0
}

a[href="/Creighton"]:before,.flair-Creighton:before {
    background-position: -8955px 0;
    opacity: 1.0
}

a[href="/Ohio"]:before,.flair-Ohio:before {
    background-position: -9000px 0;
    opacity: 1.0
}

a[href="/TennesseeSt"]:before,.flair-TennesseeSt:before {
    background-position: -9045px 0;
    opacity: 1.0
}

a[href="/Fairfield"]:before,.flair-Fairfield:before {
    background-position: -9090px 0;
    opacity: 1.0
}

a[href="/CSUBakersfield"]:before,.flair-CSUBakersfield:before {
    background-position: -9135px 0;
    opacity: 1.0
}

a[href="/Clemson"]:before,.flair-Clemson:before {
    background-position: -9180px 0;
    opacity: 1.0
}

a[href="/Arizona"]:before,.flair-Arizona:before {
    background-position: -9225px 0;
    opacity: 1.0
}

a[href="/Arkansas"]:before,.flair-Arkansas:before {
    background-position: -9270px 0;
    opacity: 1.0
}

a[href="/Tennessee"]:before,.flair-Tennessee:before {
    background-position: -9315px 0;
    opacity: 1.0
}

a[href="/IncarnateWord"]:before,.flair-IncarnateWord:before {
    background-position: -9360px 0;
    opacity: 1.0
}

a[href="/TennesseeMartin"]:before,.flair-TennesseeMartin:before {
    background-position: -9405px 0;
    opacity: 1.0
}

a[href="/Toledo"]:before,.flair-Toledo:before {
    background-position: -9450px 0;
    opacity: 1.0
}

a[href="/Wofford"]:before,.flair-Wofford:before {
    background-position: -9495px 0;
    opacity: 1.0
}

a[href="/Lamar"]:before,.flair-Lamar:before {
    background-position: -9540px 0;
    opacity: 1.0
}

a[href="/UNLV"]:before,.flair-UNLV:before {
    background-position: -9585px 0;
    opacity: 1.0
}

a[href="/BoiseSt"]:before,.flair-BoiseSt:before {
    background-position: -9630px 0;
    opacity: 1.0
}

a[href="/Cornell"]:before,.flair-Cornell:before {
    background-position: -9675px 0;
    opacity: 1.0
}

a[href="/CoppinSt"]:before,.flair-CoppinSt:before {
    background-position: -9720px 0;
    opacity: 1.0
}

a[href="/SouthDakotaSt"]:before,.flair-SouthDakotaSt:before {
    background-position: -9765px 0;
    opacity: 1.0
}

a[href="/Monmouth"]:before,.flair-Monmouth:before {
    background-position: -9810px 0;
    opacity: 1.0
}

a[href="/Pittsburgh"]:before,.flair-Pittsburgh:before {
    background-position: -9855px 0;
    opacity: 1.0
}

a[href="/Montanna"]:before,.flair-Montanna:before {
    background-position: -9900px 0;
    opacity: 1.0
}

a[href="/NorthCarolina"]:before,.flair-NorthCarolina:before {
    background-position: -9945px 0;
    opacity: 1.0
}

a[href="/Bradley"]:before,.flair-Bradley:before {
    background-position: -9990px 0;
    opacity: 1.0
}

a[href="/NewHampshire"]:before,.flair-NewHampshire:before {
    background-position: -10035px 0;
    opacity: 1.0
}

a[href="/SouthCarolinaUpstate"]:before,.flair-SouthCarolinaUpstate:before {
    background-position: -10080px 0;
    opacity: 1.0
}

a[href="/NewOrleans"]:before,.flair-NewOrleans:before {
    background-position: -10125px 0;
    opacity: 1.0
}

a[href="/UMassLowell"]:before,.flair-UMassLowell:before {
    background-position: -10170px 0;
    opacity: 1.0
}

a[href="/NorthernColorado"]:before,.flair-NorthernColorado:before {
    background-position: -10215px 0;
    opacity: 1.0
}

a[href="/Portland"]:before,.flair-Portland:before {
    background-position: -10260px 0;
    opacity: 1.0
}

a[href="/UMKC"]:before,.flair-UMKC:before {
    background-position: -10305px 0;
    opacity: 1.0
}

a[href="/UCF"]:before,.flair-UCF:before {
    background-position: -10350px 0;
    opacity: 1.0
}

a[href="/StMarys"]:before,.flair-StMarys:before {
    background-position: -10395px 0;
    opacity: 1.0
}

a[href="/American"]:before,.flair-American:before {
    background-position: -10440px 0;
    opacity: 1.0
}

a[href="/Minnesota"]:before,.flair-Minnesota:before {
    background-position: -10485px 0;
    opacity: 1.0
}

a[href="/Howard"]:before,.flair-Howard:before {
    background-position: -10530px 0;
    opacity: 1.0
}

a[href="/Marist"]:before,.flair-Marist:before {
    background-position: -10575px 0;
    opacity: 1.0
}

a[href="/PortlandSt"]:before,.flair-PortlandSt:before {
    background-position: -10620px 0;
    opacity: 1.0
}

a[href="/UCLA"]:before,.flair-UCLA:before {
    background-position: -10665px 0;
    opacity: 1.0
}

a[href="/Marquette"]:before,.flair-Marquette:before {
    background-position: -10710px 0;
    opacity: 1.0
}

a[href="/Duquesne"]:before,.flair-Duquesne:before {
    background-position: -10755px 0;
    opacity: 1.0
}

a[href="/OhioSt"]:before,.flair-OhioSt:before {
    background-position: -10800px 0;
    opacity: 1.0
}

a[href="/Missouri"]:before,.flair-Missouri:before {
    background-position: -10845px 0;
    opacity: 1.0
}

a[href="/WakeForest"]:before,.flair-WakeForest:before {
    background-position: -10890px 0;
    opacity: 1.0
}

a[href="/EasternIllinois"]:before,.flair-EasternIllinois:before {
    background-position: -10935px 0;
    opacity: 1.0
}

a[href="/Pennsylvania"]:before,.flair-Pennsylvania:before {
    background-position: -10980px 0;
    opacity: 1.0
}

a[href="/JacksonvilleSt"]:before,.flair-JacksonvilleSt:before {
    background-position: -11025px 0;
    opacity: 1.0
}

a[href="/StFrancisNY"]:before,.flair-StFrancisNY:before {
    background-position: -11070px 0;
    opacity: 1.0
}

a[href="/Illinois"]:before,.flair-Illinois:before {
    background-position: -11115px 0;
    opacity: 1.0
}

a[href="/YoungstownSt"]:before,.flair-YoungstownSt:before {
    background-position: -11160px 0;
    opacity: 1.0
}

a[href="/StPeters"]:before,.flair-StPeters:before {
    background-position: -11205px 0;
    opacity: 1.0
}

a[href="/LoyolaMD"]:before,.flair-LoyolaMD:before {
    background-position: -11250px 0;
    opacity: 1.0
}

a[href="/Elon"]:before,.flair-Elon:before {
    background-position: -11295px 0;
    opacity: 1.0
}

a[href="/Presbyterian"]:before,.flair-Presbyterian:before {
    background-position: -11340px 0;
    opacity: 1.0
}

a[href="/KentSt"]:before,.flair-KentSt:before {
    background-position: -11385px 0;
    opacity: 1.0
}

a[href="/Albany"]:before,.flair-Albany:before {
    background-position: -11430px 0;
    opacity: 1.0
}

a[href="/Pacific"]:before,.flair-Pacific:before {
    background-position: -11475px 0;
    opacity: 1.0
}

a[href="/Belmont"]:before,.flair-Belmont:before {
    background-position: -11520px 0;
    opacity: 1.0
}

a[href="/Niagara"]:before,.flair-Niagara:before {
    background-position: -11565px 0;
    opacity: 1.0
}

a[href="/CharlestonSouth"]:before,.flair-CharlestonSouth:before {
    background-position: -11610px 0;
    opacity: 1.0
}

a[href="/Syracuse"]:before,.flair-Syracuse:before {
    background-position: -11655px 0;
    opacity: 1.0
}

a[href="/StonyBrook"]:before,.flair-StonyBrook:before {
    background-position: -11700px 0;
    opacity: 1.0
}

a[href="/Vanderbilt"]:before,.flair-Vanderbilt:before {
    background-position: -11745px 0;
    opacity: 1.0
}

a[href="/NorthernIllinois"]:before,.flair-NorthernIllinois:before {
    background-position: -11790px 0;
    opacity: 1.0
}

a[href="/WesternIllinois"]:before,.flair-WesternIllinois:before {
    background-position: -11835px 0;
    opacity: 1.0
}

a[href="/FloridaGulfCoast"]:before,.flair-FloridaGulfCoast:before {
    background-position: -11880px 0;
    opacity: 1.0
}

a[href="/Wyoming"]:before,.flair-Wyoming:before {
    background-position: -11925px 0;
    opacity: 1.0
}

a[href="/Kennesaw"]:before,.flair-Kennesaw:before {
    background-position: -11970px 0;
    opacity: 1.0
}

a[href="/MontanaSt"]:before,.flair-MontanaSt:before {
    background-position: -12015px 0;
    opacity: 1.0
}

a[href="/Oakland"]:before,.flair-Oakland:before {
    background-position: -12060px 0;
    opacity: 1.0
}

a[href="/TCU"]:before,.flair-TCU:before {
    background-position: -12105px 0;
    opacity: 1.0
}

a[href="/Wagner"]:before,.flair-Wagner:before {
    background-position: -12150px 0;
    opacity: 1.0
}

a[href="/GeorgeMason"]:before,.flair-GeorgeMason:before {
    background-position: -12195px 0;
    opacity: 1.0
}

a[href="/Princeton"]:before,.flair-Princeton:before {
    background-position: -12240px 0;
    opacity: 1.0
}

a[href="/WeberSt"]:before,.flair-WeberSt:before {
    background-position: -12285px 0;
    opacity: 1.0
}

a[href="/SanFrancisco"]:before,.flair-SanFrancisco:before {
    background-position: -12330px 0;
    opacity: 1.0
}

a[href="/Washington"]:before,.flair-Washington:before {
    background-position: -12375px 0;
    opacity: 1.0
}

a[href="/WrightSt"]:before,.flair-WrightSt:before {
    background-position: -12420px 0;
    opacity: 1.0
}

a[href="/NorthFlorida"]:before,.flair-NorthFlorida:before {
    background-position: -12465px 0;
    opacity: 1.0
}

a[href="/MoreheadSt"]:before,.flair-MoreheadSt:before {
    background-position: -12510px 0;
    opacity: 1.0
}

a[href="/Utah"]:before,.flair-Utah:before {
    background-position: -12555px 0;
    opacity: 1.0
}

a[href="/Dartmouth"]:before,.flair-Dartmouth:before {
    background-position: -12600px 0;
    opacity: 1.0
}

a[href="/NorthDakotaSt"]:before,.flair-NorthDakotaSt:before {
    background-position: -12645px 0;
    opacity: 1.0
}

a[href="/PennSt"]:before,.flair-PennSt:before {
    background-position: -12690px 0;
    opacity: 1.0
}

a[href="/SEMissouriSt"]:before,.flair-SEMissouriSt:before {
    background-position: -12735px 0;
    opacity: 1.0
}

a[href="/Lasalle"]:before,.flair-Lasalle:before {
    background-position: -12780px 0;
    opacity: 1.0
}

a[href="/Lipscomb"]:before,.flair-Lipscomb:before {
    background-position: -12825px 0;
    opacity: 1.0
}

a[href="/LoyolaChicago"]:before,.flair-LoyolaChicago:before {
    background-position: -12870px 0;
    opacity: 1.0
}

a[href="/TexasAM"]:before,.flair-TexasAM:before {
    background-position: -12915px 0;
    opacity: 1.0
}

a[href="/StJosephs"]:before,.flair-StJosephs:before {
    background-position: -12960px 0;
    opacity: 1.0
}

a[href="/StFrancisPA"]:before,.flair-StFrancisPA:before {
    background-position: -13005px 0;
    opacity: 1.0
}

a[href="/LongBeachSt"]:before,.flair-LongBeachSt:before {
    background-position: -13050px 0;
    opacity: 1.0
}

a[href="/MiamiOH"]:before,.flair-MiamiOH:before {
    background-position: -13095px 0;
    opacity: 1.0
}

a[href="/UTSA"]:before,.flair-UTSA:before {
    background-position: -13140px 0;
    opacity: 1.0
}

a[href="/PrairieViewAM"]:before,.flair-PrairieViewAM:before {
    background-position: -13185px 0;
    opacity: 1.0
}

a[href="/SanDiegoSt"]:before,.flair-SanDiegoSt:before {
    background-position: -13230px 0;
    opacity: 1.0
}

a[href="/Pepperdine"]:before,.flair-Pepperdine:before {
    background-position: -13275px 0;
    opacity: 1.0
}

a[href="/CalPoly"]:before,.flair-CalPoly:before {
    background-position: -13320px 0;
    opacity: 1.0
}

a[href="/TAMUCorpusChristi"]:before,.flair-TAMUCorpusChristi:before {
    background-position: -13365px 0;
    opacity: 1.0
}

a[href="/UCSB"]:before,.flair-UCSB:before {
    background-position: -13410px 0;
    opacity: 1.0
}

a[href="/BostonU"]:before,.flair-BostonU:before {
    background-position: -13455px 0;
    opacity: 1.0
}

a[href="/Stetson"]:before,.flair-Stetson:before {
    background-position: -13500px 0;
    opacity: 1.0
}

a[href="/Rutgers"]:before,.flair-Rutgers:before {
    background-position: -13545px 0;
    opacity: 1.0
}

a[href="/SouthDakota"]:before,.flair-SouthDakota:before {
    background-position: -13590px 0;
    opacity: 1.0
}

a[href="/EasternWash"]:before,.flair-EasternWash:before {
    background-position: -13635px 0;
    opacity: 1.0
}

a[href="/Duke"]:before,.flair-Duke:before {
    background-position: -13680px 0;
    opacity: 1.0
}

a[href="/Southern"]:before,.flair-Southern:before {
    background-position: -13725px 0;
    opacity: 1.0
}

a[href="/SavannahSt"]:before,.flair-SavannahSt:before {
    background-position: -13770px 0;
    opacity: 1.0
}

a[href="/Towson"]:before,.flair-Towson:before {
    background-position: -13815px 0;
    opacity: 1.0
}

a[href="/Louisville"]:before,.flair-Louisville:before {
    background-position: -13860px 0;
    opacity: 1.0
}

a[href="/NCWilmington"]:before,.flair-NCWilmington:before {
    background-position: -13905px 0;
    opacity: 1.0
}

a[href="/Fordham"]:before,.flair-Fordham:before {
    background-position: -13950px 0;
    opacity: 1.0
}

a[href="/GeorgiaTech"]:before,.flair-GeorgiaTech:before {
    background-position: -13995px 0;
    opacity: 1.0
}

a[href="/NorthTexas"]:before,.flair-NorthTexas:before {
    background-position: -14040px 0;
    opacity: 1.0
}

a[href="/Michigan"]:before,.flair-Michigan:before {
    background-position: -14085px 0;
    opacity: 1.0
}

a[href="/UTEP"]:before,.flair-UTEP:before {
    background-position: -14130px 0;
    opacity: 1.0
}

a[href="/SantaClara"]:before,.flair-SantaClara:before {
    background-position: -14175px 0;
    opacity: 1.0
}

a[href="/NCAsheville"]:before,.flair-NCAsheville:before {
    background-position: -14220px 0;
    opacity: 1.0
}

a[href="/Wisconsin"]:before,.flair-Wisconsin:before {
    background-position: -14265px 0;
    opacity: 1.0
}

a[href="/Quinnipiac"]:before,.flair-Quinnipiac:before {
    background-position: -14310px 0;
    opacity: 1.0
}

a[href="/StBonaventure"]:before,.flair-StBonaventure:before {
    background-position: -14355px 0;
    opacity: 1.0
}

a[href="/Cincinnati"]:before,.flair-Cincinnati:before {
    background-position: -14400px 0;
    opacity: 1.0
}

a[href="/FairDickinson"]:before,.flair-FairDickinson:before {
    background-position: -14445px 0;
    opacity: 1.0
}

a[href="/Citadel"]:before,.flair-Citadel:before {
    background-position: -14490px 0;
    opacity: 1.0
}

a[href="/ArkansasSt"]:before,.flair-ArkansasSt:before {
    background-position: -14535px 0;
    opacity: 1.0
}

a[href="/IllinoisChicago"]:before,.flair-IllinoisChicago:before {
    background-position: -14580px 0;
    opacity: 1.0
}

a[href="/Columbia"]:before,.flair-Columbia:before {
    background-position: -14625px 0;
    opacity: 1.0
}

a[href="/Hampton"]:before,.flair-Hampton:before {
    background-position: -14670px 0;
    opacity: 1.0
}

a[href="/AirForce"]:before,.flair-AirForce:before {
    background-position: -14715px 0;
    opacity: 1.0
}

a[href="/NCAT"]:before,.flair-NCAT:before {
    background-position: -14760px 0;
    opacity: 1.0
}

a[href="/Manhattan"]:before,.flair-Manhattan:before {
    background-position: -14805px 0;
    opacity: 1.0
}

a[href="/Charlotte"]:before,.flair-Charlotte:before {
    background-position: -14850px 0;
    opacity: 1.0
}

a[href="/Chattanooga"]:before,.flair-Chattanooga:before {
    background-position: -14895px 0;
    opacity: 1.0
}

a[href="/Indiana"]:before,.flair-Indiana:before {
    background-position: -14940px 0;
    opacity: 1.0
}

a[href="/Gonzaga"]:before,.flair-Gonzaga:before {
    background-position: -14985px 0;
    opacity: 1.0
}

a[href="/NewMexico"]:before,.flair-NewMexico:before {
    background-position: -15030px 0;
    opacity: 1.0
}

a[href="/NJIT"]:before,.flair-NJIT:before {
    background-position: -15075px 0;
    opacity: 1.0
}

a[href="/NotreDame"]:before,.flair-NotreDame:before {
    background-position: -15120px 0;
    opacity: 1.0
}

a[href="/Northeastern"]:before,.flair-Northeastern:before {
    background-position: -15165px 0;
    opacity: 1.0
}

a[href="/NichollsSt"]:before,.flair-NichollsSt:before {
    background-position: -15210px 0;
    opacity: 1.0
}

a[href="/Northwestern"]:before,.flair-Northwestern:before {
    background-position: -15255px 0;
    opacity: 1.0
}

a[href="/TexasPanAmerican"]:before,.flair-TexasPanAmerican:before {
    background-position: -15300px 0;
    opacity: 1.0
}

a[href="/NorthDakota"]:before,.flair-NorthDakota:before {
    background-position: -15345px 0;
    opacity: 1.0
}

a[href="/Kansas"]:before,.flair-Kansas:before {
    background-position: -15390px 0;
    opacity: 1.0
}

a[href="/MDEasternShore"]:before,.flair-MDEasternShore:before {
    background-position: -15435px 0;
    opacity: 1.0
}

a[href="/TXArlington"]:before,.flair-TXArlington:before {
    background-position: -15480px 0;
    opacity: 1.0
}

a[href="/Evansville"]:before,.flair-Evansville:before {
    background-position: -15525px 0;
    opacity: 1.0
}

a[href="/Stanford"]:before,.flair-Stanford:before {
    background-position: -15570px 0;
    opacity: 1.0
}

a[href="/WestVirginia"]:before,.flair-WestVirginia:before {
    background-position: -15615px 0;
    opacity: 1.0
}

a[href="/FloridaAtlantic"]:before,.flair-FloridaAtlantic:before {
    background-position: -15660px 0;
    opacity: 1.0
}

a[href="/StJohns"]:before,.flair-StJohns:before {
    background-position: -15705px 0;
    opacity: 1.0
}

a[href="/Providence"]:before,.flair-Providence:before {
    background-position: -15750px 0;
    opacity: 1.0
}


